@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-quaternaria: #0a4653;

  --cor-primaria-clear: #6a6a6a;
  --cor-secundaria-clear: #ffffff;
  --cor-terciaria-clear: #8de7ff;
  --cor-quaternaria-clear: #3a7385;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(var(--cor-primaria), var(--cor-quaternaria));
  color: var(--cor-secundaria);
  min-height: 100vh;
  overflow-x: hidden !important;
}

/* ************************ CABECALHO DO PORTFOLIO ************************ */

.cabecalho {
  display: flex;
  padding: 2rem 5rem;
  justify-content: space-between;
}

.cabecalho__menu {
  display: flex;
  flex: 1;
  gap: 2rem;
}

.cabecalho__menu__direita {
  display: flex;
  gap: 2rem;
}

.cabecalho__menu__link {
  color: var(--cor-terciaria);
  text-align: end;
  text-decoration: none;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
}

.hamburguer {
  display: none;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1rem;
}

.lista-menu {
  font-family: var(--fonte-secundaria);
  font-size: 1.25rem;
  font-weight: 400;
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  background: linear-gradient(var(--cor-primaria), var(--cor-quaternaria));
  border-radius: 10px;
}

.container__botao:checked ~ .lista-menu {
  /* Se o container__botao estiver marcado então ele faz o que tiver pedido (display: block) */
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
}

.lista-menu__link {
  text-decoration: none;
  color: var(--cor-secundaria);
}

.container__botao {
  display: none;
}

.cabecalho__menu-hamburguer {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("https://github.com/user-attachments/assets/b205462f-eb93-41c2-9a2a-a2baa83b2b8b");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

/* ********************************************************************** */

/* ************************ BOTÃO ALTERAR TEMA ************************ */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--cor-quaternaria);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* ********************************************************************** */

/* ************************ CORPO DO PORTFOLIO ************************ */

.apresentacao {
  /* width: 100%; */
  padding: 7% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 85px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-primaria);
  font-size: 2.25rem;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-family: var(--fonte-secundaria);
  font-size: 1.25rem;
  font-weight: 400;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 2px solid var(--cor-terciaria);
  width: 70%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
  background-color: var(--cor-quaternaria);
}

.apresentacao__imagem {
  width: 50%;
}

/* ********************************************************************** */

/* ************************ RODAPÉ DO PORTFOLIO ************************ */

.rodape {
  padding-top: 7%;
}

/* ********************************************************************** */

/* ************************ SLIDER DE SKILLS ************************ */

.slider {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrossel {
  width: 100vw;
  display: flex;
  position: relative;
}

.item {
  text-align: center;
  width: 6.5rem;
  height: 3.13rem;
  position: absolute;
  left: 100vw;
  top: 50%;
  transform: translate(0, -50%);
  animation: slide 15s linear infinite;
  animation-delay: calc(15 / var(--quantity) * (var(--delay)));
}

.item img {
  height: 100%;
}

.item i {
  font-size: 3.13rem;
}

.noto {
  font-family: "Noto Emoji", sans-serif;
  font-size: 3.13rem;
}

@keyframes slide {
  from {
    left: 100vw;
  }
  to {
    left: -50vw;
  }
}

/* ********************************************************************** */

/* ************************ MUDANÇA DE COR DARK ************************ */

body.clear {
  background: linear-gradient(
    var(--cor-primaria-clear),
    var(--cor-quaternaria-clear)
  );
  color: var(--cor-secundaria-clear);
}

.cabecalho__menu__link.clear {
  color: var(--cor-terciaria-clear);
}

.titulo-destaque.clear {
  color: var(--cor-terciaria-clear);
}

.apresentacao__links__navegacao.clear {
  border: 2px solid var(--cor-terciaria-clear);
  color: var(--cor-secundaria-clear);
}

.apresentacao__links__navegacao.clear:hover {
  background-color: var(--cor-quaternaria-clear);
}

/* ********************************************************************** */

/* ************************ TABLET OU MONITORES MENORES ************************ */

@media screen and (max-width: 900px) {
  .apresentacao {
    flex-direction: column-reverse;
    padding: 7% 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .slider {
    overflow: hidden !important;
  }
}

/* ********************************************************************** */

/* ************************ CELULARES ************************ */

@media screen and (max-width: 692px) {
  .cabecalho {
    display: none;
  }

  .hamburguer {
    margin: 1rem 0 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .label {
    background-color: transparent;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: normal;

    padding: 0;
    position: initial;
    height: 0;
    width: 0;
    transform: none;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 7% 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .slider {
    overflow: hidden !important;
  }
}
