@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-quaternaria: #0a4653;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(var(--cor-primaria), var(--cor-quaternaria));
  color: var(--cor-secundaria);
}

.cabecalho {
  background-color: beige;
}

.cabecalho__menu {
  font-family: var(--fonte-secundaria);
  padding: 2rem;
}

.cabecalho__menu__link {
  padding: 2rem;
  text-decoration: none;
}

.main-content {
  margin: 0 auto;
  padding: 3rem;
}
